* text=auto
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.cjs text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.py text eol=lf
